   Question 1
   
   Explanation :The value of 'a' is 6. a is defined as global variable. But to modify any gloabl variable inside a function, we need to declare is as global with the keyword 'global'. So in the first call, value of a is 0 and returs a+2 from function c().Here the value is now changed to 2.In the next calls value of 'a' becomes 4 and 6 respectively. If global keyword is not used inside the function, we will get error.

In [4]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

Question 2

In [5]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("file "+file_name+" not found!")
file_length("midterm.py")
file_length("idterm.py")

38
file idterm.py not found!

Question 3

In [33]:
class Marsupial:
    def __init__(self):
        self.a=[]
    def put_in_pouch(self,put):
        self.a.append(put)
    def pouch_contents(self):
        return self.a

        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [34]:
class Marsupial:
    def __init__(self):
        self.a=[]
    def put_in_pouch(self,put):
        self.a.append(put)
    def pouch_contents(self):
        return self.a

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    def Jump(self,dx,dy):
        self.x+=dx
        self.y+=self.y+dy
    def __str__(self):
        return("I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y))
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k) 
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.Jump(1,0)
k.Jump(1,0)
k.Jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

Question 4

In [5]:
def collatz (n):
    if(n != 1):
        print(n ,end ='\n')
    if(n == 1):
        print(n ,end ='\n')
        return n
    if(n%2 == 0):
        n = n // 2
        collatz(n)
    else:
        n= 3*n + 1
        collatz(n)


collatz(10)

10
5
16
8
4
2
1

Question 5

In [6]:
binary_value =""
def binary (n):
    global binary_value
    if(n!=1):
        if(n==0):
            print("0")
        else:
            temp=""
            remainder = int(n%2)
            #print(remainder)
            temp =str(remainder)
            binary_value+=temp
            #print(temp)
            n =int(n/2)
            binary(n)
    else:
        binary_value +="1"
        binary_value = binary_value [::-1] 
        print(binary_value)
        binary_value=""
        
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

Question 6

In [56]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

var='False'
var2='False'
class HeadingParser(HTMLParser):  
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            global var
            var = "True"
        if tag == 'h2':
            global var2
            var2 = "True"
        
    def handle_endtag(self, tag):
        if var == "False":
            pass
        if var2 == "False":
            pass
    def handle_data(self, data):
        global var,var2
        if var == "True":
           
            print(data)
            var='False'    
        
        if var2 == "True":
            
            print('\t',end='')
            print(data)
            var2 = 'False'

infile = open('w3c.html') 
content = infile.read() 
infile.close() 
linkparser = HeadingParser() 
linkparser.feed(content)

W3C Mission
	Principles

Question 7)

In [63]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

  def __init__(self, givenURL):
      #initializes parser, the url, and a list
      HTMLParser.__init__(self)
      self.givenURL = givenURL
      self.availableLinks = []


  def handle_starttag(self, tag, attrs):
      if tag == 'a':
          for attr in attrs:          
              if attr[0] == 'href': 
                  absolute = urljoin(self.givenURL, attr[1])
                  if absolute[:4] == 'http':
                      self.availableLinks.append(absolute)

  def getLinks(self):
    return self.availableLinks


allLinks = []

def webdir(givenURL,depth,indent):
        global allLinks   
        print(indent*" " + givenURL)
        if depth == 0:
            return 
        for i in allLinks: 
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
allLinks = collector.getLinks()

#Calling Webdir Function here
webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

Question 8

In [33]:
!pip install ipython-sql
import sqlite3
sqliteConnection = sqlite3.connect('sql.db')
cur = sqliteConnection.cursor()
cur.execute("CREATE TABLE SEASON2 (City text, Country text, Season text, Temperature float, Rainfall float)")
lst=[('Mumbai', 'India','Winter',24.8, 5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]
for i in lst:
    cur.execute("INSERT INTO SEASON2 VALUES (?,?,?,?,?)",i)
    sqliteConnection.commit()
sqliteConnection.close()
sqliteConnection = sqlite3.connect('sql.db')
cur = sqliteConnection.cursor()
cur.execute('SELECT * FROM SEASON2')
for i in cur :
    print(i)

Requirement already satisfied: ipython-sql in c:\users\namitha chandra bose\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: colorama in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\namitha chandra bose\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

Question 8a)

In [34]:
cur.execute('SELECT Temperature FROM SEASON2')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

Question 8b)

In [35]:
cur.execute('SELECT DISTINCT City from SEASON2');
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

Question 8c)

In [53]:
cur.execute('SELECT * FROM SEASON2 WHERE Country ="India" ')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

Question 8d)

In [38]:
cur.execute('SELECT * FROM SEASON2 WHERE Season ="Fall" ')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

Question 8e)

In [39]:
cur.execute('SELECT * FROM SEASON2 WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5)]

Question 8f)

In [40]:
cur.execute('SELECT City,Country FROM SEASON2 WHERE Season="Fall" AND Temperature>20 ORDER BY Temperature ASC  ')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

Question 8g)

In [54]:
cur.execute('SELECT SUM(Rainfall) FROM SEASON2 WHERE City="Cairo" ')
cur.fetchall()

[(27.6,)]

Question 8h)

In [48]:
cur.execute('SELECT SUM(Rainfall) FROM SEASON2 GROUP BY Season ')
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

Question 9)

In [55]:
list1 =['The','quick','brown','fox','jumps','over','the','lazy','dog']
print("Given List= ",end=" ")
print(list1)
print()
list2 = [name.upper() for name in list1]
print("a) ",end=" ")
print(list2)
print()
list3 = [name.lower() for name in list1]
print("b) ",end=" ")
print(list3)
print()

list4=[]
for i in list1:
    list4.append(len(i))

print("c) ",end=" ")
print(list4)
print()

listall=[]

for i in list1:
    length=len(i)
    cap=i.upper()
    small = i.lower()
    listx=[]
    listx.append(cap)
    listx.append(small)
    listx.append(length)
    listall.append(listx)

print("d) ",end=" ")
print(listall)
print()

list5=[]
for i in list1:
    if len(i)>=3:
        list5.append(i)
print("e) ",end=" ")
print(list5)

Given List=  ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a)  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b)  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)  [3, 5, 5, 3, 5, 4, 3, 4, 3]

d)  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e)  ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']